BasedOnStyle: Google
Language: C
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
ColumnLimit: 128
UseTab: Never
ContinuationIndentWidth: 4
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
SortIncludes: Never
ReflowComments: false
AlignConsecutiveMacros: Consecutive
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: None
# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: true
# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: true